@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Yellowtail&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "welcome-header.css";
@import "variables.css";
body {
  font-family: "Open Sans", sans-serif;
}
.login-form {
  display: flex;
  flex-direction: column; /* login-form 세로 정렬 */
  margin: 0px 30px;
}
.login-form input {
  padding: 15px 0px;
  border: none;
  /* input의 아웃라인을 제거 하기 위함 */
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  transition: border-color 0.3s;
  /* broder-color의 변화를 0.3초에 걸쳐 보여줌*/
  /* transition은 psuedo selector가 붙지 않은 곳에 써야함 */
}
.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form input:focus {
  border-color: var(--yellow);
  /* border-color를 변수 --yellow의 색으로 함 */
}
