.nav {
  position: fixed; /* 원하는 곳에 뭔가가 계속 있기를 바랄 때 사용 */
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box; /*아이콘 한 줄로 보이게 함 */
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  /* 요소를 일정 간격으로 띄워줌 */
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: tomato;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__dot {
  display: flex;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 35px;
  bottom: 30px;
}
